*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  /* 窄滚动条 */
  scrollbar-width: thin;
  /* 滑块颜色 + 轨道透明 */
  scrollbar-color: var(--color-text-soft) transparent;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    background-color 0.5s;
}

body {
  height: 100dvh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  /* font-size: 16px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
